

<main>
    
    <p>Oops! Something went wrong...</p>

    <div class="error-box">
        <p><%- message %></p>
        <img src="/images/blog-cleverly-funny-creative-404-error-pages-cloudsigma.webp" alt="Funny Error Cat" />
        <p>Try going <a href="/">back home</a> or refreshing the page.</p>
    </div>
</main>


<style>
    .error-box {
        text-align: center;
        padding: 20px;
        border: 2px solid red;
        background: #fff3f3;
        border-radius: 10px;
        max-width: 600px;
        margin: 20px auto;
    }
    .error-box img {
        max-width: 100%;
        height: auto;
    }
</style>
